<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <script type="text/javascript" src="{% static 'js/render(A).js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/server_requests(A).js' %}"></script>

    <script type="text/javascript" src="{% static 'js/papaparse.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script_analiza_glicemiei.js' %}"></script>
 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title></title>
  </head>
  <body onload="checkCookie()">
      <div class="p-1 mb-2 bg-white"></div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Monitor Diabet</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.htm">Algoritm diagnostic</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Analiza glicemiei <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="stadializarea_nefropatiei_diabetice.htm">Stadializarea nefropatiei diabetice</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="reprezentarea_glicemiei.htm">Reprezentarea glicemiei</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
            {% if logged %}
              <p class = "text-success h4 border">Bun venit, {{username}}</p>
              &nbsp&nbsp&nbsp&nbsp
              <button class="btn btn-outline-success my-2 my-sm-0" onclick="logout()">Delogare</button>
            {% else %}
              <a class="btn btn-outline-success my-2 my-sm-0 mr-3" href="autentificare.htm">Autentificare</a>
              <a class="btn btn-outline-success my-2 my-sm-0" href="inregistrare.htm">Inregistrare</a>
            {% endif %}
            </form>
          </div>
        </nav>
        <div class="p-1 mb-5 bg-white"></div>
        <div class="container">
          <p>Aplicația permite calcularea unor indici de variabilitate ai glicemiei, cum ar fi media, deviația standard, 
            coeficientul de variație, indexul J și media diferențelor zilnice (MODD - mean of daily difference în engleză). 
            Acești indici dau o imagine mai bună asupra variabilității valorilor glicemiei decât simpla examinare a datelor 
            individuale, fiind o măsură a bunei gestionări a diabetului dumneavoastră. Analiza necesită un număr de cel puțin 
            7 măsurători de glicemie pe zi (dar se pot introduce până la 12 măsurători), pentru un număr maxim de 7 zile. 
            Pentru măsurarea mediei diferențelor zilnice este necesar să completați datele pentru două zile (se compară datele 
            a două zile, nu este necesar să fie zile consecutive dar datele trebuie introduse în coloane consecutive). 
            Pentru aceste analize statistice nu este importantă ora la care s-a făcut citirea glicemiei însă mediei diferențelor 
            zilnice este influențată de dietă iar rezultatele vor fi mai mari dacă aveți o dietă variabilă (cu excese alimentare).
          </p>
          <p>
              Dacă valorile calculate ale indicilor de variabilitate glicemică sunt mai mari decât valorile normale înseamnă că aveți 
              variabilitate ridicată în valorile zilnice și de la o zi la alta ale glicemiei și glicemia dumneavoastră nu este 
              gestionată așa cum trebuie si este necesar să luați măsuri – tratament + dietă - pentru corectarea situației.
          </p>
        </div>

        {% if logged %}
          <div id = "initial_state">
            <div class="row justify-content-md-center">
              <form>
                <label class = "text-success" style="display: block" id="message1"></label>
                <button type="button" class="btn btn-outline-success my-2 my-sm-4" onclick="renderAG_addValue()">Adaugă o singură valoare</button>
                &nbsp&nbsp&nbsp&nbsp&nbsp
                <button type="button" class="btn btn-outline-success my-2 my-sm-4" onclick="renderAG_showValues()">Afișează tabel</button>
              </form>
            </div>
          </div>

          <div class="container" style="display: none" id="view_addValue">
            <div class="row justify-content-md-center">
              <form>
                <div class="form-group">
                  <label> Introduceți ziua </label>
                  <input type="date" class="form-control" id="data_valoare">
                </div> 
                <div class="form-group">
                  <label> Introduceți momentul </label>
                  <input type="time" class="form-control" id="timp_valoare">
                </div>
                <div class="form-group">
                  <label> Introduceți valoarea </label>
                  <input type="number" class="form-control" id="valoare">
                </div>
                <button type="button" class="btn btn-outline-success my-2 my-sm-4" onclick="adauga_glicemie()">Adaugă</button>
                &nbsp&nbsp&nbsp&nbsp
                <button type="button" class="btn btn-outline-success my-2 my-sm-4" onclick="renderAG_initState(null)">Înapoi</button>
              </form>                 
            </div>
          </div>

          <div class="container" style="display: none" id="view_showValues">
              <div class="row justify-content-md-center">
                <form>
                  <label class="text-danger" id = "message2"> Puteți alege maxim 7 zile </label>
                  <div class="form-group">
                    <label> Introduceți data de început </label>
                    <input type="date" class="form-control" id="start_date">
                  </div> 
                  <div class="form-group">
                    <label> Introduceți data de sfârșit </label>
                    <input type="date" class="form-control" id="end_date">
                  </div>
                  <button type="button" class="btn btn-outline-success my-2 my-sm-4" onclick="preia_glicemie()">Afișează</button>
                  &nbsp&nbsp&nbsp&nbsp
                  <button type="button" class="btn btn-outline-success my-2 my-sm-4" onclick="renderAG_initState(null)">Înapoi</button>
                </form>                 
              </div>
            </div>
          
          <div class="container" style="display: none" id="view_tableValues">
            <div class="row justify-content-md-center">
              <table class="table table-sm" id="table-logged" style="width:100%">
              </table>
              <button type="button" class="btn btn-outline-success my-2 my-sm-4" onclick="renderAG_initState(null)">Înapoi</button>
            </div>
          </div>


        {% else %}

        <div align="center">
          <label>Adaugati un fisier de tip .csv</label>
          <input type="file"  id="upload" class="btn btn-outline-success my-2 my-sm-4" onchange="addFile();"></input>
        </div>
        <div align="center">
           <label>Descarcati varianta curenta a tabelului (fisier de tip .csv)</label>
            <button type="button" class="btn btn-outline-success my-2 my-sm-4" onclick="makeCsvFile();">Download</button>
        </div>

        <!-- tabel -->




<style>
 th, td {
    white-space:nowrap;
     font-size: 20px;
    text-align: left; 
    padding:none;

}

th.cellBorder{

   border: 3.5px solid black;
   text-align: center;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}




/* hide increment-decrement arrows for <input> value : */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

</style>

<table class="table table-sm" id="table" style="width:100%">
  <thead>
  <tr>
    <th></th>
    <th onclick="compareResults(0)">Ziua 1</th>
    <th onclick="compareResults(1)">Ziua 2</th> 
    <th onclick="compareResults(2)">Ziua 3</th>
    <th onclick="compareResults(3)">Ziua 4</th>
    <th onclick="compareResults(4)">Ziua 5</th> 
    <th onclick="compareResults(5)">Ziua 6</th>
    <th onclick="compareResults(6)">Ziua 7</th>
  </tr>
  </thead>

  <tbody>
  <tr>
<th>Înainte de micul dejun</th>
<td><input style="width:75%" type="number" id="val1day1"> </td>
<td><input style="width:75%" type="number" id="val1day2"> </br></td>
<td><input style="width:75%" type="number" id="val1day3"> </br></td>
<td><input style="width:75%" type="number" id="val1day4"> </br></td>
<td><input style="width:75%" type="number" id="val1day5"> </br></td>
<td><input style="width:75%" type="number" id="val1day6"> </br></td>
<td><input style="width:75%" type="number" id="val1day7"> </br></td>
</tr>

<tr>
<th>După micul dejun</th>
<td><input style="width:75%" type="number" id="val2day1"> </td>
<td><input style="width:75%" type="number" id="val2day2"> </br></td>
<td><input style="width:75%" type="number" id="val2day3"> </br></td>
<td><input style="width:75%" type="number" id="val2day4"> </br></td>
<td><input style="width:75%" type="number" id="val2day5"> </br></td>
<td><input style="width:75%" type="number" id="val2day6"> </br></td>
<td><input style="width:75%" type="number" id="val2day7"> </br></td>
</tr>

<tr>
<th>Înainte de prânz</th>
<td><input style="width:75%" type="number" id="val3day1"> </td>
<td><input style="width:75%" type="number" id="val3day2"> </br></td>
<td><input style="width:75%" type="number" id="val3day3"> </br></td>
<td><input style="width:75%" type="number" id="val3day4"> </br></td>
<td><input style="width:75%" type="number" id="val3day5"> </br></td>
<td><input style="width:75%" type="number" id="val3day6"> </br></td>
<td><input style="width:75%" type="number" id="val3day7"> </br></td>
</tr>

<tr>
<th>După prânz</th>
<td><input style="width:75%" type="number" id="val4day1"> </td>
<td><input style="width:75%" type="number" id="val4day2"> </br></td>
<td><input style="width:75%" type="number" id="val4day3"> </br></td>
<td><input style="width:75%" type="number" id="val4day4"> </br></td>
<td><input style="width:75%" type="number" id="val4day5"> </br></td>
<td><input style="width:75%" type="number" id="val4day6"> </br></td>
<td><input style="width:75%" type="number" id="val4day7"> </br></td>
</tr>

<tr>
<th>Înainte de cină</th>
<td><input style="width:75%" type="number" id="val5day1"> </td>
<td><input style="width:75%" type="number" id="val5day2"> </br></td>
<td><input style="width:75%" type="number" id="val5day3"> </br></td>
<td><input style="width:75%" type="number" id="val5day4"> </br></td>
<td><input style="width:75%" type="number" id="val5day5"> </br></td>
<td><input style="width:75%" type="number" id="val5day6"> </br></td>
<td><input style="width:75%" type="number" id="val5day7"> </br></td>
</tr>

<tr>
<th>După cină</th>
<td><input style="width:75%" type="number" id="val6day1"> </td>
<td><input style="width:75%" type="number" id="val6day2"> </br></td>
<td><input style="width:75%" type="number" id="val6day3"> </br></td>
<td><input style="width:75%" type="number" id="val6day4"> </br></td>
<td><input style="width:75%" type="number" id="val6day5"> </br></td>
<td><input style="width:75%" type="number" id="val6day6"> </br></td>
<td><input style="width:75%" type="number" id="val6day7"> </br></td>
</tr>

<tr>
<th>Înainte de culcare</th>
<td><input style="width:75%" type="number" id="val7day1"> </td>
<td><input style="width:75%" type="number" id="val7day2"> </br></td>
<td><input style="width:75%" type="number" id="val7day3"> </br></td>
<td><input style="width:75%" type="number" id="val7day4"> </br></td>
<td><input style="width:75%" type="number" id="val7day5"> </br></td>
<td><input style="width:75%" type="number" id="val7day6"> </br></td>
<td><input style="width:75%" type="number" id="val7day7"> </br></td>
  </tr>

  <tr>
<th> Valori suplimentare</th>
<td><input style="width:75%" type="number" id="val8day1" ></td>
<td><input style="width:75%" type="number" id="val8day2" > </br></td>
<td><input style="width:75%" type="number" id="val8day3" > </br></td>
<td><input style="width:75%" type="number" id="val8day4" > </br></td>
<td><input style="width:75%" type="number" id="val8day5" > </br></td>
<td><input style="width:75%" type="number" id="val8day6" > </br></td>
<td><input style="width:75%" type="number" id="val8day7" > </br></td>
  </tr>

  <tr>
<th> Valori suplimentare</th>
<td><input style="width:75%" type="number" id="val9day1" ></td>
<td><input style="width:75%" type="number" id="val9day2" > </br></td>
<td><input style="width:75%" type="number" id="val9day3" > </br></td>
<td><input style="width:75%" type="number" id="val9day4" > </br></td>
<td><input style="width:75%" type="number" id="val9day5" > </br></td>
<td><input style="width:75%" type="number" id="val9day6" > </br></td>
<td><input style="width:75%" type="number" id="val9day7" > </br></td>
  </tr>

  <tr>
<th>Valori suplimentare</th>
<td><input style="width:75%" type="number" id="val10day1" ></td>
<td><input style="width:75%" type="number" id="val10day2" > </br></td>
<td><input style="width:75%" type="number" id="val10day3" > </br></td>
<td><input style="width:75%" type="number" id="val10day4" > </br></td>
<td><input style="width:75%" type="number" id="val10day5" > </br></td>
<td><input style="width:75%" type="number" id="val10day6" > </br></td>
<td><input style="width:75%" type="number" id="val10day7" > </br></td>
  </tr>

  <tr>
<th>Valori suplimentare</th>
<td><input style="width:75%" type="number" id="val11day1" ></td>
<td><input style="width:75%" type="number" id="val11day2" > </br></td>
<td><input style="width:75%" type="number" id="val11day3" > </br></td>
<td><input style="width:75%" type="number" id="val11day4" > </br></td>
<td><input style="width:75%" type="number" id="val11day5" > </br></td>
<td><input style="width:75%" type="number" id="val11day6" > </br></td>
<td><input style="width:75%" type="number" id="val11day7" > </br></td>
  </tr>

  <tr>
<th>Valori suplimentare</th>
<td><input style="width:75%" type="number" id="val12day1" ></td>
<td><input style="width:75%" type="number" id="val12day2" > </br></td>
<td><input style="width:75%" type="number" id="val12day3" > </br></td>
<td><input style="width:75%" type="number" id="val12day4" > </br></td>
<td><input style="width:75%" type="number" id="val12day5" > </br></td>
<td><input style="width:75%" type="number" id="val12day6" > </br></td>
<td><input style="width:75%" type="number" id="val12day7" > </br></td>
  </tr>



  <tr>
<th>Media glicemiilor - M</th>
<td><output type="number" id="media0"> </td>
<td><output type="number" id="media1"> </br></td>
<td><output type="number" id="media2"> </br></td>
<td><output type="number" id="media3"> </br></td>
<td><output type="number" id="media4"> </br></td>
<td><output type="number" id="media5"> </br></td>
<td><output type="number" id="media6"> </br></td>
<th class="cellBorder" colspan="2" id="ValNormMedie1">Valoare normală pentru un diabetic <154 mg/dl (corespunde unei HbA1c<7%)</th>
<th class="cellBorder" colspan="2" id="ValNormMedie2">Valoare anormala daca >154 mg/dl</th>
  </tr>

  <tr>
<th>Deviația standard a mediei - SD</th>
<td><output type="number" id="ds0"></td>
<td><output type="number" id="ds1"> </br></td>
<td><output type="number" id="ds2"> </br></td>
<td><output type="number" id="ds3"> </br></td>
<td><output type="number" id="ds4"> </br></td>
<td><output type="number" id="ds5"> </br></td>
<td><output type="number" id="ds6"> </br></td>
<th class="cellBorder" colspan="2" id="ValNormDS1">Valoare normală <50-60 mg/dl (este de dorit să fie sub o treime din medie)</th>
<th class="cellBorder" colspan="2" id="ValNormDS2">Valoare anormala daca >60 mg/dl</th>
  
  </tr>


  <tr>
 <th>Coeficientul de variație% - CV</th>
<td><output type="number" id="cv0"></td>
<td><output type="number" id="cv1"> </br></td>
<td><output type="number" id="cv2"> </br></td>
<td><output type="number" id="cv3"> </br></td>
<td><output type="number" id="cv4"> </br></td>
<td><output type="number" id="cv5"> </br></td>
<td><output type="number" id="cv6"> </br></td>
<th class="cellBorder" id="ValNormCD1">CV<33,5%, control excelent al glicemiei</th>
<th class="cellBorder" id="ValNormCD2">CV 33,5 - 36,8, control bun</th>
<th class="cellBorder" id="ValNormCD3">CV 36,8 - 40,6 control acceptabil</th>
<th class="cellBorder" id="ValNormCD4">CV>40,6, control prost</th>

  </tr>


  <tr>
<th>Indicele J</th>
<td><output type="number" id="jindex0"></td>
<td><output type="number" id="jindex1"> </br></td>
<td><output type="number" id="jindex2"> </br></td>
<td><output type="number" id="jindex3"> </br></td>
<td><output type="number" id="jindex4"> </br></td>
<td><output type="number" id="jindex5"> </br></td>
<td><output type="number" id="jindex6"> </br></td>
<th class="cellBorder" id="ValNormJ1">Diabet cu control ideal al glicemiei 10&ltJ&lt20 </th>
<th class="cellBorder"id="ValNormJ2">Diabet cu control bun, 20&ltJ&lt30</th>
<th class="cellBorder" id="ValNormJ3">Diabet cu control prost, 30&ltJ&lt40 </th>
<th class="cellBorder" id="ValNormJ4">Diabet fără control, J>40</th>
  </tr>

  <tr>
<th>Media diferențelor zilnice - MODD</th>
<td><output type="number" id="modd0"> </td>
<td><output type="number" id="modd1"> </br></td>
<td><output type="number" id="modd2"> </br></td>
<td><output type="number" id="modd3"> </br></td>
<td><output type="number" id="modd4"> </br></td>
<td><output type="number" id="modd5"> </br></td>
<td><output type="number" id="modd6"> </br></td>
<th class="cellBorder" id="ValNormMODD1">MODD<7 mg/dl, variabilitate glicemică normală</th>
<th class="cellBorder" id="ValNormMODD2">MODD 7-25 mg/dl, diabet stabil</th>
<th class="cellBorder" id="ValNormMODD3">MODD >40 mg/dl diabet instabil</th> 
 </tr>

</tbody>
</table>


<div class="wrapper">
     <button type="submit" class="btn btn-outline-success my-2 my-sm-4"  onclick= "Output();">Calculeaza</button>
</div>
{% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>