<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <script type="text/javascript" src="{% static 'js/render(A).js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/render(A).js' %}"></script>
		<script type="text/javascript" src="{% static 'js/script_calculator_hipoglicemic.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/server_requests(A).js' %}"></script>


	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title></title>

	<style>
		table, th, td {
			border: 1px solid black;
			padding: 2px;
			background-color: white;
		}

		#results {
			margin-top: 50px;

		}
		#inputs ul{
			list-style-type:none;
			margin:0;
			padding:0;
		}

		#inputs li {
			float:left;
			margin:5px;
			width:100px;
			height:40px;
			position:relative;
		}

		#inputs label, #inputs input {
			display:block;
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
		}

		#inputs input[type="radio"] {
			opacity:0.011;
			z-index:100;
		}

		#inputs label {
			padding:5px;
			border:1px solid #CCC;
			cursor:pointer;
			z-index:90;
			text-align: center;
			font-size: 18px;
		}

		#inputs input[type="radio"]:checked + label {
			background-color: red;
			color: whitesmoke;
		}

		#inputs label:hover {
			background-color: #ddd;
		}
	</style>
</head>
<body {% if role == 1  or role == 2 and patient != '' %} onload="preia_date_hipoglicemie()" {% endif %}>

	<style>
		.navbar-fixed-left{
			position: fixed;
			height: 100%;
		}
		.con{
			padding-top: 2%;
			padding-left: 15%;
		}
	</style>
	<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-left">
		<ul class="navbar-nav flex-column mb-auto">
			<li class="nav-item mt-3">
				<a class="navbar-brand" href="#">Monitor Diabet</a>
			</li>
			<li class="nav-item mt-2">
				<a class="nav-link" href="index.htm">Analiza glicemiei</a>
			</li>
			<li class="nav-item mt-2">
				<a class="nav-link" href="stadializarea_nefropatiei_diabetice.htm">Stadializarea nefropatiei diabetice</a>
			</li>
			<li class="nav-item mt-2">
				<a class="nav-link" href="reprezentarea_glicemiei.htm">Reprezentarea glicemiei</a>
			</li>
			<li class="nav-item active mt-2">
				<a class="nav-link" href="calculator_hipoglicemic.htm">Calculator Hipoglicemic<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item mt-2">
				<a class="nav-link" href="calculator_diabet.htm">Calculator diabet</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="siMS.htm">siMS</a>
			</li>
			{% if role > 0 %}
				{% if role == 2 %}
					<li class="nav-item mt-2">
						<a class="nav-link" href="cauta_pacient.htm">Caută pacient</a>
					</li>
					<li class="nav-item mt-2">
						<a class="nav-link" href="statistica.htm">Vezi statistică</a>
					</li>
				{% endif %}
				<li class="nav-item mt-5">
					<p class = "text-success h4 border">Bun venit, {{username}}</p>
				</li>
				<li class="nav-item mt-3">
					<button class="btn btn-outline-success my-2 my-sm-0 ml-4" onclick="logout()">Delogare</button>
				</li>
			{% else %}
				<li class="nav-item mt-5">
					<a class="btn btn-outline-success my-2 my-sm-2 mr-2" href="autentificare.htm">Autentificare</a>
				</li>
				<li class="nav-item mt-3">
					<a class="btn btn-outline-success my-2 my-sm-2 mr" href="inregistrare.htm">Inregistrare</a>
				</li>
			{% endif %}
		</ul>
	</nav>
        
  <div class="container con">
		<div class = "d-flex justify-content-center mt-1">
			{% if patient == '' and role == 2 %}
				<h4>Nu ai selectat niciun pacient!</h4>
			{% else %}
				{% if role > 0 %}
					<div class = "d-flex flex-column">
						{% if role == 2 %}
							<h4 class="text-center">Ai selectat pacientul: {{patient}}</h4>
						{% endif %}
						<a class="btn btn-primary mt-4" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Vezi date despre {% if role == 2 %} pacient {% else %} tine {% endif %}</a>
						<div class="collapse" id="collapseExample">
							<div class="card card-body">
								<table id = "date-pacient">
								
								</table>
							</div>
						</div>
					</div>
				{% endif %}
			{% endif %}
		</div>
		<div {% if role > 0 %}class = "mt-5" {% endif %}>
			<table class = "table table-bordered" id="inputs" onchange="Output();">
				<tbody>
				<tr>
					<td>
						De câte ori ai ajuns in ultimele 12 luni la unitatea de primiri urgențe cu diagnostic primar/principal de hipoglicemie?
					</td>
					<td>
						<ul>
							<li>
								<!-- C1 = choice 1 -->
								<input type="radio" id="C1_niciodata" name="diag-principal-hipoglicemie" value="niciodata">
								<label for="C1_niciodata">Niciodată</label>
							</li>
							<li>
								<input type="radio" id="C1_sub2" name="diag-principal-hipoglicemie" value="sub2">
								<label for="C1_sub2"><2 ori</label>
							</li>
							<li>
								<input type="radio" id="C1_3plus" name="diag-principal-hipoglicemie" value="3plus">
								<label for="C1_3plus">&ge;3 ori</label>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						De câte ori ai ajuns la unitatea de primiri urgențe petru orice alt motiv de sanatate in ultimele 12 luni?
					</td>
					<td>
						<ul>
							<li>
								<input type="radio" id="C2_sub2" name="alt-motiv" value="sub2">
								<label for="C2_sub2"><2 ori</label>
							</li>
							<li>
								<input type="radio" id="C2_2plus" name="alt-motiv" value="2plus">
								<label for="C2_2plus">&ge;2 ori</label>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						Folosești insulină sau nu?
					</td>
					<td>
						<ul>
							<li>
								<input type="radio" id="C3_insulina_da" name="insulina" value="da">
								<label for="C3_insulina_da">Da</label>
							</li>
							<li>
								<input type="radio" id="C3_insulina_nu" name="insulina" value="nu">
								<label for="C3_insulina_nu">Nu</label>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						Folosești derivate de sulfoniluree?
					</td>
					<td>
						<ul>
							<li>
								<input type="radio" id="C4_sulfoniluree_da" name="sulfoniluree" value="da">
								<label for="C4_sulfoniluree_da">Da</label>
							</li>
							<li>
								<input type="radio" id="C4_sulfoniluree_nu" name="sulfoniluree" value="nu">
								<label for="C4_sulfoniluree_nu">Nu</label>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						Aveți insuficiență renală cronică stadiul 4 sau 5?
					</td>
					<td>
						<ul>
							<li>
								<input type="radio" id="C5_insuficienta_renala_da" name="insuficienta-renala" value="da">
								<label for="C5_insuficienta_renala_da">Da</label>
							</li>
							<li>
								<input type="radio" id="C5_insuficienta_renala_nu" name="insuficienta-renala" value="nu">
								<label for="C5_insuficienta_renala_nu">Nu</label>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						Aveți varsta mai mică de 77 de ani?
					</td>
					<td>
						<ul>
							<li>
								<input type="radio" id="C6_varsta_sub_77_da" name="varsta-sub-77" value="da">
								<label for="C6_varsta_sub_77_da">Da</label>
							</li>
							<li>
								<input type="radio" id="C6_varsta_sub_77_nu" name="varsta-sub-77" value="nu">
								<label for="C6_varsta_sub_77_nu">Nu</label>
							</li>
						</ul>
					</td>
				</tr>
				</tbody>
			</table>

			<table id="results" class="table table-bordered">
				<tbody>
				<tr>
					<td id="risc-ridicat-1">
						&ge;3 vizite la spital in precedentele 12 luni, cu sau fară diagnostic primar/principal de hipoglicemie.
					</td>
					<td rowspan="2" id="risc-ridicat">
						Risc ridicat (>5%)
					</td>
				</tr>
				<tr>
					<td id="risc-ridicat-2">
						1-2 vizite la spital cu diagnostic de hipoglicemie sau orice alt diagnostic și folosirea insulinei
					</td>
				</tr>
				<tr>
					<td id="risc-scazut-1">
						Fară vizite la spital (pentru hipoglicemie) in ultimele 12 luni și nu utilizează insuina și nu utiizează derivați de sulfoniluree
					</td>
					<td rowspan="3" id="risc-scazut">
						Risc scazut(<1%)
					</td>
				</tr>
				<tr>
					<td id="risc-scazut-2">
						Fară vizite la spital (pentru hipoglicemie) in ultimele 12 luni și nu utilizează insuina și utiizează derivați de sulfoniluree, cu varsta <77 ani și nu are insuficiența renala cronica severă sau terminală
					</td>
				</tr>
				<tr>
					<td id="risc-scazut-3">
						Fară vizite la spital (pentru hipoglicemie) in ultimele 12 luni și utilizează insuina, cu varsta <77 ani și <2 vizite la spital (de alta cauza) in cele 12 luni anterioare
					</td>
				</tr>
				<tr>
					<td id="risc-interm-1">
						Toate celalate combinații de factori
					</td>
					<td id="risc-interm">
						Risc intermediar (1% - 5%)
					</td>
				</tr>
				</tbody>
			</table>
			{% if role == 2 and patient != '' %}
				<button type="button" id="b1" class="btn btn-outline-success mt-3" onclick="adauga_risc_hipo();">Memorează</button>
			{% endif %}
			<br><br>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
