<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <script type="text/javascript" src="{% static 'js/render(A).js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/server_requests(A).js' %}"></script>

   

	<script type="text/javascript" src="{% static 'js/script_calculator_diabet.js' %}"></script>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title></title>

	<style>
		table {
			border: 1px solid black;
		}
		td,th {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<div class="p-1 mb-2 bg-white"></div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Monitor Diabet</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.htm">Algoritm diagnostic</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="analiza_glicemiei.htm">Analiza glicemiei</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="stadializarea_nefropatiei_diabetice.htm">Stadializarea nefropatiei diabetice</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="reprezentarea_glicemiei.htm">Reprezentarea glicemiei</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="calculator_hipoglicemic.htm">Calculator Hipoglicemic </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Calculator diabet<span class="sr-only">(current)</span></a>
			  </li>
			   <li class="nav-item">
                <a class="nav-link" href="siMS.htm">siMS</a>
              </li>
			  {% if logged %}
              {% else %}
                <li class="nav-item">
                  <a class="btn btn-outline-success my-2 my-sm-2 mr-2" href="autentificare.htm">Autentificare</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-outline-success my-2 my-sm-2 mr" href="inregistrare.htm">Inregistrare</a>
                </li>
              {% endif %}
            </ul>
            {% if logged %}
              <form class="form-inline my-2 my-lg-0">
                <p class = "text-success h4 border">Bun venit, {{username}}</p>
                <button class="btn btn-outline-success my-2 my-sm-0 ml-4" onclick="logout()">Delogare</button>
              </form>
            {% endif %}
          </div>
        </nav>
        <div class="p-1 mb-5 bg-white"></div>
        <div class="container">

			<h2>Table 1</h2>
			<table class="cmds-input-table">
				<thead>
					<tr>
						<th>Items</th>
						<th>CMDS score</th>
						<th>Modified CMDS score</th>
					</tr>
				</thead>
				<tbody>
				<tr>
					<td>Fasting glucose &ge; 100mg/DL</td>
					<td class="cmds" data="23">23</td>
					<td class="modified-cmds" data="30">30</td>
				</tr>
				<tr>
					<td>2-Hour glucose &ge; 140 mg/dL</td>
					<td class="cmds" data="21">21</td>
					<td class="modified-cmds"> </td>
				</tr>
				<tr>
					<td>Waist circumference (&ge; 102 cm in men; &ge;88 cm in women)</td>
					<td class="cmds" data="26">26</td>
					<td class="modified-cmds" data="33">33</td>
				</tr>
				<tr>
					<td>Blood pressure (systolic &ge; 130 mm Hg and/or diastolic &ge;85 mm Hg) or an antihypersensitive medication</td>
					<td class="cmds" data="20">20</td>
					<td class="modified-cmds" data="22">22</td>
				</tr>
				<tr>
					<td>HDL-cholesterol (<40 mg/dL in men; <50 mg/dL in women)</td>
					<td class="cmds" data="5">5</td>
					<td class="modified-cmds" data="7">7</td>
				</tr>
				<tr>
					<td>Fasting troglycerides &ge; 150 mg/dL or on antihyperlipidemia medication</td>
					<td class="cmds" data="5">5</td>
					<td class="modified-cmds" data="8">8</td>
				</tr>
				<tr>
					<td>Total (range 0 to 100 possible) =</td>
					<td id="totalCMDS"></td>
					<td id="totalModifiedCMDS"></td>
				</tr>
				</tbody>
			</table>

			<h2>Table 2</h2>
			<table class="cmds-results-table">
				<thead>
					<tr>
						<th rowspan="2">Score</th>
						<th colspan="2">15-year risk of diabetes, %</th>
					</tr>
					<tr>
						<th>CMDS Score</th>
						<th>Modified CMDS Score</th>
					</tr>
				</thead>
				<tbody>
				<tr id="group-1">
					<td>&le;10</td>
					<td class="cmds">&le;7</td>
					<td class="modified-cmds">&le;7</td>
				</tr>
				<tr id="group-2">
					<td>11-20</td>
					<td class="cmds">&le;11</td>
					<td class="modified-cmds">&le;10</td>
				</tr>
				<tr id="group-3">
					<td>21-30</td>
					<td class="cmds">&le;16</td>
					<td class="modified-cmds">&le;13</td>
				</tr>
				<tr id="group-4">
					<td>31-40</td>
					<td class="cmds">&le;23</td>
					<td class="modified-cmds">&le;18</td>
				</tr>
				<tr id="group-5">
					<td>41-50</td>
					<td class="cmds">&le;32</td>
					<td class="modified-cmds">&le;24</td>
				</tr>
				<tr id="group-6">
					<td>51-60</td>
					<td class="cmds">&le;44</td>
					<td class="modified-cmds">&le;33</td>
				</tr>
				<tr id="group-7">
					<td>61-70</td>
					<td class="cmds">&le;59</td>
					<td class="modified-cmds">&le;43</td>
				</tr>
				<tr id="group-8">
					<td>&gt;70</td>
					<td class="cmds">&gt;59</td>
					<td class="modified-cmds">&gt;43</td>
				</tr>
				</tbody>
			</table>
		</div>

</body>
</html>
