<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Scripts-->
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/data.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/server_requests(A).js' %}"></script>

    <script type="text/javascript" src="{% static 'js/script_algoritm_diagnostic.js' %}"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
      <style>
        .navbar-fixed-left{
          position: fixed;
          height: 100%;
        }
        .con{
          padding-top: 2%;
          padding-left: 15%;
        }
      </style>
      <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-left">
        <ul class="navbar-nav flex-column mb-auto">
          <li class="nav-item mt-3">
            <a class="navbar-brand" href="#">Monitor Diabet</a>
          </li>
          <li class="nav-item active mt-3">
            <a class="nav-link" href="#">Algoritm diagnostic<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" href="analiza_glicemiei.htm">Analiza glicemiei</a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" href="stadializarea_nefropatiei_diabetice.htm">Stadializarea nefropatiei diabetice</a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" href="reprezentarea_glicemiei.htm">Reprezentarea glicemiei</a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" href="calculator_hipoglicemic.htm">Calculator Hipoglicemic</a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" href="calculator_diabet.htm">Calculator diabet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="siMS.htm">siMS</a>
          </li>
          {% if role > 0 %}
            {% if role == 2 %}
              <li class="nav-item mt-2">
                <a class="nav-link" href="cauta_pacient.htm">Caută pacient</a>
              </li>
            {% endif %}
            <li class="nav-item mt-5">
              <p class = "text-success h4 border">Bun venit, {{username}}</p>
            </li>
            <li class="nav-item mt-3">
              <button class="btn btn-outline-success my-2 my-sm-0 ml-4" onclick="logout()">Delogare</button>
            </li>
          {% else %}
            <li class="nav-item mt-5">
              <a class="btn btn-outline-success my-2 my-sm-2 mr-2" href="autentificare.htm">Autentificare</a>
            </li>
            <li class="nav-item mt-3">
              <a class="btn btn-outline-success my-2 my-sm-2 mr" href="inregistrare.htm">Inregistrare</a>
            </li>
          {% endif %}
        </ul>
      </nav>
      <div class="container con">
        <div class = "d-flex justify-content-center">
          {% if patient == '' %}
            <h4>Nu ai selectat niciun pacient!</h4>
          {% else %}
            <h4>Ai selectat pacientul: {{patient}}</h4>
          {% endif %}
        </div>
        <div class = "mt-5" id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Descriere
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <p>
                    Un nou studiu efectuat în Suedia pe o populație de diabetici (a se vedea articolul de referința la finalul acestei pagini) 
                    a aratat că ar exista 5 tipuri de diabet, fiecare cu caracteristici specifice, gravitate și evolutie particulară, tratament diferit și riscuri diferite de dezvoltare a unor complicații.
                  </p>
                  <p>
                    Cele 5 clustere de diabet sunt:
                    <ul style="list-style-type:circle">
                      <li>
                        clusterul 1 - severe autoimmune diabetes (SAID) – diabetul autoimun sever;
                      </li>
                      <li>
                        clusterul 2 - severe insulin-deficient diabetes (SIDD) – diabetul insulino-deficient sever;
                      </li>
                      <li>
                        clusterul 3 - severe insulin-resistant diabetes (SIRD) – diabetul insulino-rezistent sever;
                      </li>
                      <li>
                        clusterul 4 - mild obesity-related diabetes (MORD) – diabetul moderat asociat cu obezitatea;
                      </li>
                      <li>
                        clusterul 5 - mild age-related diabetes (MARD) – diabetul moderat asociat cu vârsta;
                      </li>
                    </ul>
                  </p>
                          
                  <p>
                    În timp ce SAID corespunde actualului diabet de tip 1 și diabetului de tip LADA (diabetul autoimun latent al adultului), studiul a identificat două noi forme, severe, de diabet și anume SIDD și SIRD, care sunt mascate actualmente de tipul 2 de diabet. Algoritmul nostru vă permite încadrarea diabetului dumneavoastră într-unul din cele 5 tipuri (clustere) nou descrise.
                  </p> 
                  <p>
                    Aveți nevoie de următoarele date:
          
                    <ul style="list-style-type:circle">
                      <li>
                        vârsta la debutul diabetului;
                      </li>
                      <li>
                        prezența sau absența anticorpilor anti decarboxilaza acidului glutamic (anticorpii anti-GADA);
                      </li>
                      <li>
                        nivelul hemoglobinei glicozilate (HbA1c);
                      </li>
                      <li>
                        indicele masei corporale (IMC);
                      </li>
                      <li>
                        evaluarea funcției celulelor beta-pancreatice HOMA-2B prin modelul homeostatic HOMA2;
                      </li>
                      <li>
                        evaluarea insulino-rezistenței HOMA2-IR prin modelul homeostatic HOMA2;
                      </li>
                    </ul>
                  </p>
                  <p>
                    HOMA-2B și HOMA2-IR pot fi calculate cu ajutorul unui freeware, care poate fi descărcat de <a href="https://www.dtu.ox.ac.uk/homacalculator/">aici</a>. Pentru calculul acestor doi parametri este nevoie de valorile glicemiei și insulinei plasmatice.
                  </p>
                </div>
              </div>
            </div>
          </div>
        
        <div class="p-1 mb-4 bg-white"></div>
        <div class="row justify-content-md-center">
            <form>
              <div class="form-group">
                <label> Varsta la debutul diabetului: </label>
                <input type="number" class="form-control" id="varsta_debut">
              </div>
              <div class="form-group">
                <label> Inaltimea: </label>
                <input type="number" class="form-control" id="inaltime">
              </div>
              <div class="form-group">
                <label> Greutatea: </label>
                <input type="number" class="form-control" id="greutate">
              </div>
              <div class="form-group">
                <label> Nivelul hemoglobinei glicozilate: </label>
                <input type="number" class="form-control" id="nivel_hemoglobina">
              </div>
              <div class="form-group">
                <label> HOMA2-IR: </label>
                <input type="number" class="form-control" id="homa2_ir">
              </div>
              <div class="form-group">
                <label> HOMA2-Beta: </label>
                <input type="number" class="form-control" id="homa2_beta">
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="anticorpi" id="prezenti" value="prezenti" checked>
                <label class="form-check-label" for="exampleRadios1">
                    Anticorpi anti-GADA prezenti
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="anticorpi" id="absenti" value="absenti">
                <label class="form-check-label" for="exampleRadios1">
                  Anticorpi anti-GADA absenti
                </label>
              </div>
              <button type="button" class="btn btn-outline-success my-2 my-sm-4" onclick= "Output();">Calculeaza</button>
            </form>
        </div>
      </div>
             

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>