<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script>
      var path = "{% static 'js/config_repr_glicemiei.json' %}";
    </script>

    <script type="text/javascript" src="{% static 'js/render(A).js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script_reprezentarea_glicemiei.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/server_requests(A).js' %}"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title></title>
  </head>
  <body  onload="checkCookie();init();">
    <style>
      .navbar-fixed-left{
        position: fixed;
        height: 100%;
      }
      .con{
        padding-top: 2%;
        padding-left: 15%;
      }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-left">
      <ul class="navbar-nav flex-column mb-auto">
        <li class="nav-item mt-3">
          <a class="navbar-brand" href="#">Monitor Diabet</a>
        </li>
        <li class="nav-item mt-2">
          <a class="nav-link" href="index.htm">Analiza glicemiei</a>
        </li>
        <li class="nav-item mt-2">
          <a class="nav-link" href="stadializarea_nefropatiei_diabetice.htm">Stadializarea nefropatiei diabetice</a>
        </li>
        <li class="nav-item active mt-2">
          <a class="nav-link" href="#">Reprezentarea glicemiei<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mt-2">
          <a class="nav-link" href="calculator_hipoglicemic.htm">Calculator Hipoglicemic</a>
        </li>
        <li class="nav-item mt-2">
          <a class="nav-link" href="calculator_diabet.htm">Calculator diabet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="siMS.htm">siMS</a>
        </li>
        {% if role > 0 %}
          {% if role == 2 %}
            <li class="nav-item mt-2">
              <a class="nav-link" href="cauta_pacient.htm">Caută pacient</a>
            </li>
            <li class="nav-item mt-2">
              <a class="nav-link" href="statistica.htm">Vezi statistică</a>
            </li>
          {% endif %}
          <li class="nav-item mt-5">
            <p class = "text-success h4 border">Bun venit, {{username}}</p>
          </li>
          <li class="nav-item mt-3">
            <button class="btn btn-outline-success my-2 my-sm-0 ml-4" onclick="logout()">Delogare</button>
          </li>
        {% else %}
          <li class="nav-item mt-5">
            <a class="btn btn-outline-success my-2 my-sm-2 mr-2" href="autentificare.htm">Autentificare</a>
          </li>
          <li class="nav-item mt-3">
            <a class="btn btn-outline-success my-2 my-sm-2 mr" href="inregistrare.htm">Inregistrare</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <div class="container con">
      <div class = "d-flex justify-content-center">
        {% if role == 2 %}
          {% if patient == '' %}
            <h4>Nu ai selectat niciun pacient!</h4>
          {% else %}
            <h4>Ai selectat pacientul: {{patient}}</h4>
          {% endif %}
        {% endif %}
      </div>
      <div class="mt-5" id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Descriere
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <p>
                    Acesta este un calcul pur experimental prin care puteți vedea cât timp vi se menține glicemia deasupra 
                    limitei de sus a normalului. În cazul unui nediabetic, valorile glicemiei trec doar pentru foarte putin 
                    timp peste pragul de hiperglicemie în cursul unei zile însă la un diabetic acest prag este frecvent depășit 
                    și pentru perioade mai lungi. După ce introduceți toate valorile glicemiei în formularul de mai jos sistemul 
                    va genera curba cea mai probabilă a glicemiilor dumneavoastră pe perioada investigată și va calcula cât timp 
                    glicemia dumneavoastră depășește pragul de hiperglicemie. De asemenea, vă va arăta cum se prezintă curba 
                    glicemiilor dumneavoastră în cursul zilei, în comparație cu o curbă normală a glicemiei. Este important ca 
                    glicemiile să fie luate exact la ora precizată, altfel curba glicemiilor nu va fi corectă și să nu modificați 
                    regimul alimentar de la o zi la alta.
                </p>
                <p>
                    Se va creea graficul estimat al glicemiilor pacientului, eventual colorat tot intervalul de timp cât 
                    graficul se află deasupra pragului de normalitate și se va afișa valoarea numerică a timpului cât graficul 
                    se află deasupra acestui prag, atât pentru nediabetic cât și pentru diabetic!
                </p>
              </div>
            </div>
          </div>
        </div>
      {% if role > 0 %}
      <div id="valori_stocate" class = "mt-2">
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Ce valori sunt deja stocate?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" id = "mod_introducere" class="collapse" aria-labelledby="headingTwo" data-parent="#valori_stocate">
            <div class="card-body">
              <div id = "mod_introducere" style="display: block">
                <label class = "d-flex justify-content-center"> Introduceți data de inceput </label>
                <input type="date" class="form-control" id="data_inceput_valoare">
                <label class = "d-flex justify-content-center mt-2"> Introduceți data de sfarsit </label>
                <input type="date" class="form-control" id="data_sfarsit_valoare">
                <div class = "d-flex justify-content-center"> <button type="button" class="btn btn-primary mt-3" onclick = "preluare_tabel_reprezentare()">Afisează</button> </div>
              </div>
              <div id = "mod_afisare" style="display: none">
                <table id = "date-pacient" cellpadding="20" class = "d-flex justify-content-center">
                    
                </table> 
                <div class = "d-flex justify-content-center">
                  <button type="button" class="btn btn-primary mt-3 ml" onclick = "der_inapoi_reprezentare()"><</button> 
                  <button type="button" class="btn btn-primary mt-3 ml-5" onclick = "der_inainte_reprezentare()">></button>
                </div>
                <button type="button" class="btn btn-primary mt-3" onclick = "render_stare_intr_date()">Înapoi</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="initial_state">
        <div class="row justify-content-md-center">
          <from>
            <label class = "text-success" style="display: block" id="message"></label>
            {% if role == 1 %}
              <button class="btn btn-outline-success my-2 my-sm-4" onclick="renderRG_addValue()">Adaugă valoare</button>
            {% endif %}
            &nbsp&nbsp&nbsp&nbsp&nbsp
            <button class="btn btn-outline-success my-2 my-sm-4" onclick="renderRG_showValues()">Afișează grafic</button>
          </from>
        </div>
      </div>
      <div id="view_addValue" style="display: none">
        <div class="row justify-content-md-center">
          <form>
            <div class="form-group">
              <label> Introduceți ziua </label>
              <input type="date" class="form-control" id="data_valoare">
            </div> 
            <div class="form-group">
              <label> La ce moment ați analizat glicemia? </label>
              <select class="form-control" id="moment">
                <option>Înainte de micul dejun, ora 7</option>
                <option>La micul dejun, ora 8</option>
                <option>După micul dejun, ora 9</option>
                <option>La ora 11</option>
                <option>Glicemia înainte de pranz, ora 13</option>
                <option>La prânz, ora 14</option>
                <option>După prânz, ora 15</option>
                <option>La ora 17</option>
                <option>Înainte de cină, ora 19</option>
                <option>La cină, ora 20</option>
                <option>După cină, ora 21</option>
                <option>Înainte de culcare, ora 22</option>
              </select>
            </div>
            <div class="form-group">
              <label> Introduceți valoarea </label>
              <input type="number" class="form-control" id="valoare">
            </div>
            <button type="button" class="btn btn-outline-success my-2 my-sm-4" onclick="add_RG()">Adaugă</button>
            &nbsp&nbsp&nbsp&nbsp
            <button type="button" class="btn btn-outline-success my-2 my-sm-4" onclick="renderRG_initState()">Înapoi</button>
          </form>
        </div>
      </div>
      <div class="container" style="display: none" id="view_showValues">
        <div class="row justify-content-md-center">
          <form>
            <div class="form-group">
              <label> Introduceți ziua </label>
              <input type="date" class="form-control" id="zi_valoare">
            </div>
            <button type = "button" class="btn btn-outline-success my-2 my-sm-4" onclick="show_RG()">Afișează</button>
            &nbsp&nbsp&nbsp&nbsp
            <button type="button" class="btn btn-outline-success my-2 my-sm-4" onclick="renderRG_initState()">Înapoi</button>
          </form>
          <div id="chart_div" align="justify-content-md-center"></div>
        </div>
      </div>
      {% else %}
      <div class="p-1 mb-4 bg-white"></div>
      <div class="row justify-content-md-center">
        <style type="text/css">
          td {
            padding:0 40px 0 40px;
          }
        </style>
        <table>
          <tr>
            <td>
              <div class="form-group">
                <label> Glicemia înainte de micul dejun, ora 7: </label>
                <input type="number" class="form-control" id="timp1">
              </div>
            </td>
            <td>
              <div class="form-group">
                <label> Glicemia la micul dejun, ora 8: </label>
                <input type="number" class="form-control" id="timp2">
              </div>
            </td>
            <td>
              <div class="form-group">
                <label> Glicemia după micul dejun, ora 9: </label>
                <input type="number" class="form-control" id="timp3">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <label> Glicemia la ora 11: </label>
                <input type="number" class="form-control" id="timp4">
              </div>
            </td>
            <td>
              <div class="form-group">
                <label> Glicemia înainte de pranz, ora 13 : </label>
                <input type="number" class="form-control" id="timp5">
              </div>
            </td>
            <td>
              <div class="form-group">
                <label> Glicemia la prânz, ora 14 : </label>
                <input type="number" class="form-control" id="timp6">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <label> Glicemia după prânz, ora 15 : </label>
                <input type="number" class="form-control" id="timp7">
              </div>
            </td>
            <td>
              <div class="form-group">
                <label> Glicemia la ora 17 : </label>
                <input type="number" class="form-control" id="timp8">
              </div>
            </td>
            <td>
              <div class="form-group">
                <label> Glicemia înainte de cină, ora 19 : </label>
                <input type="number" class="form-control" id="timp9">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <label> Glicemia la cină, ora 20 : </label>
                <input type="number" class="form-control" id="timp10">
              </div>
            </td>
            <td>
              <div class="form-group">
                <label> Glicemia după cină, ora 21: </label>
                <input type="number" class="form-control" id="timp11">
              </div>
            </td>
            <td>
              <div class="form-group">
                <label> Glicemia înainte de culcare, ora 22: </label>
                <input type="number" class="form-control" id="timp12">
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
                <button type="button"  class="btn btn-outline-success my-2 my-sm-4"  class="form-group" onclick= "Calculeaza();">Calculează</button>
            </td>
          </tr>
        </table>
         <p id="verdict"></p>
        <!--<form>
          <button type="button"  class="btn btn-outline-success my-2 my-sm-4"  class="form-group" onclick= "Calculeaza();">Calculeaza</button>
        </form>-->
      </div>
    </div>
    
    <style>
      .pos-chart{
        display:  inline-block;
        margin-left: 20%;
        margin-right: auto;
      }
    </style>

    <div id="chart_div" class="pos-chart"></div>
    {% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>